.blockui .closemsg{color:white; font-size:12px; float:right; cursor: Pointer;}
.blockui .buierro,
.blockui .box{
    backgroundColor: #000; 
    border: none; 
    border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; 
    font-size:26px;
    opacity: .5; 
    padding: 15px; 
}
.blockui .buierro {color:#FF3800;}
.blockui .buisuccess {color:#00733C;}
.blockui .sending {color:#fff;}
.blockOverlay{
    cursor: default;
}
